      <footer> 
        <div class="container-fluid"> 

     
       



          <div class=" footer-title" align="center"> 
        <button type="button" class="browse-games "> <%= link_to "COLLABORATE", new_inquiry_path %></button>
          <h1 style="color: white;" > LETS CREATE SOMETHING TOGETHER</h1> </div>
          <div class=" col-sm-12 footer-title2"> <h1 align="center" style="color: white;"> We love new IDEAS! got some? </h1></div>



        </div>



        <section class="footer-nav">
          <div class="container-fluid"> 
            <div class="row">
              <div class="col-sm-3 footer-about" > 
                <ul>
                  <h1>ABOUT</h1>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Developers</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>

              <div class="col-sm-3 footer-gamenart"> 
                <ul>
                  <h1> GAMES AND ARTS</h1>
                  <li> <a href="#"> Game Development</a></li>
                  <li> <a href="#"> 3D Graphics</a></li>
                  <li> <a href="#"> Graphic Arts</a></li>
                </ul>
              </div>

              <div class="col-sm-3 footer-mobilenweb" > 
                <ul>
                  <h1>MOBILE AND WEB </h1>
                  <li> <a href="#"> Web Development</a></li>
                  <li> <a href="#"> Android Development</a></li>
                  <li> <a href="#"> iOS Development</a></li>
                </ul>
              </div>

              <div class="col-sm-3 footer-blog">
                <ul>
                  <h1> BLOGS</h1>
                  <li> <a href="#"> Design</a></li>
                  <li> <a href="#">Games</a></li>
                  <li> <a href="#"> 3D</a></li>
                  <li> <a href="#"> Technology</a></li>
                  <li> <a href="#"> Web Development</a></li>
                  <li> <a href="#"> Mobile App Development</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="container footer-logo">
          <%= image_tag("agelogo.png", class: "footer-age-logo") %> 
          
          <p style="color: white; text-align: center; margin-top: 10px; padding-bottom: 100px;">© Acid Games Entertainment Ltd 2017</p>
        </div>
        

      </footer>