      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-center">
              <li role="presentation"><%= link_to "HOME", root_path %> </li>
              <li role="presentation"><a href="#">MOBILE</a></li>
              <li role="presentation"><a href="#">WEB</a></li>
              <li role="presentation"><a href="#">GAMES</a></li>
              <li role="presentation"><%= link_to "GRAPHICS", arts_path %></li>
              <li role="presentation"><a href="#">BLOGS</a></li>
            </ul>
          </div>
        </div>
      </nav>