<body >
	<div id="particles-js"> 
	</div>

	<div class="fixed-background">
		<%= render partial: "shared/head"%>
	</div>


			<section class="game-application">

				<div class="gameapp-title" align="center"> <h1> GAME APPLICATION</h1></div>
				<div class="container">
					<div class="row scolor">


						<div class="col-sm-6">
							<div class="scolor-desc">

								<p> Scolor is an action-puzzle game that challenges the players eye reflexes by matching the same colors. Challenge your friends and people around the world by beating their highscores and be the top player of the game.</p>
							</div>

							<div class="scolor-btn" align="center">

								<button type="button" class="scolor-download"> <a href="https://play.google.com/store/apps/details?id=com.age.scolor&hl=en" style="color: white; text-decoration: none;"> DOWNLOAD</a> </button>
							</div>
						</div>

						<div class="col-sm-6">

							<div class="scolor-img">
								<%= image_tag("scolor-phone.png", class: "img-responsive") %>
								
							</div>

						</div>
					</div>
				</div>

			</section>
</body>