// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inquiry-header {


	width: auto;
	height: 800;
	background-image: url(geo/one.jpg);
	background-position: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

.first_name {

 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
width: 100%;


resize: none;
}

.last_name {

 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 width: 100%;
 resize: none;
}

.email{
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 width: 100%;
 resize: none;
}

.contact_number{
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 width: 100%;
 resize: none;


}

.address{
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 width: 100%;
 resize: none;

}

.inquiry {
padding-top: 150px;

}

  .inquiry-btn {
    letter-spacing: 5px;
    font-family:  'Oswald', sans-serif;
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 20px;
    padding: 14px 40px;
    margin-top: 50px
  }
